.header {
    font-family: 'Franklin Gothic', sans-serif;
    background-color: #dc1431;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
}

.brand {
    padding: .3em;
    flex: 1;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 2em;
}

.menuButton {
    flex: 1;
}

.authLinks {
    flex: 1;
    text-align: right;
}

.authLinks a {
    display: inline-block;
    color: #eee;
    margin: 0;
    height: 100%;
    padding: 1.5em;
    border-left: 1px solid #ddd;
}