.formContainer {
  font-family: 'Source Sans Pro', sans-serif;
  position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6); //60% opacity
	z-index: 49238;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: auto;
  opacity:1;
}

.formContainer form {
  font-family: 'Source Sans Pro', sans-serif;
  width: 35em;
  height: 250px;
	position: relative;
	margin: 10% auto;
  flex: 1;
  padding: 2em 2em 2em 2em;
	border-radius: 5px;
   background: rgba(32, 27, 70,1);
   box-shadow:
        0 0 1px rgba(0, 0, 0, 0.3),
        0 3px 7px rgba(0, 0, 0, 0.3),
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
  -webkit-box-shadow:
        0 0 1px rgba(0, 0, 0, 0.3),
        0 3px 7px rgba(0, 0, 0, 0.3),
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);

  -moz-box-shadow:
        0 0 1px rgba(0, 0, 0, 0.3),
        0 3px 7px rgba(0, 0, 0, 0.3),
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
}

/* makes the inputs stack on top of each other in the login form only */
.formContainer fieldset {
  width: 100%;
}

.closeButton {
	background: #000;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.closeButton:hover {
  background: #333;
}

.close {
  pointer-events: none;
  -webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
  opacity: 0;
}
.formHeading {
    color: #fff;
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
}
.inputField {
  margin-top: 10px;
  background: #BBDEFB;
  height: 45px;
  text-indent: 10px;
  width: 90%;
  margin-bottom: 5px;
  color: #3B424D;
  font-size: 15px;
  font-weight: 400;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
a{
  text-decoration: none;
}
.btn {
  float:left;
  background:#2979FF;
  width:125px;
  padding-top:10px;
  padding-bottom:10px;
  color:white;
  border-radius:4px;
  border: #2980b9 1px solid;

  margin-top:25px;
  margin-bottom:20px;
  margin-left:150px;
  margin-right: 50px;
  font-weight:400;
  font-size:14px;
  text-decoration: none;
}
.content {
  text-align: center;
}

input:focus{
    outline: none;
}
