table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
}
th, td {
   padding: 5px;
   /*width:16% !important;*/
}
th {
   text-align: left;
}

.thead {
 background-color: #333;
 color: #FDFDFD;
 width:900px;
}
.orderListTable thead tr {
 display: block;
 /*position: relative;*/
}

.orderListTable tbody {
 display: block;
 overflow: auto;
 width: 100%;
 max-height: 350px;
}

.orderListTable td:nth-child(1),
.orderListTable th:nth-child(1) {
 min-width: 50px;
}
.orderListTable td:nth-child(2),
.orderListTable th:nth-child(2) {
 min-width: 175px;
}
.orderListTable td:nth-child(3),
.orderListTable th:nth-child(3) {
 min-width: 270px;
}
.orderListTable td:nth-child(4),
.orderListTable th:nth-child(4) {
 min-width: 150px;
}
.orderListTable td:nth-child(5),
.orderListTable th:nth-child(5) {
 min-width: 150px;
}
.orderListTable td:nth-child(6),
.orderListTable th:nth-child(6) {
 min-width: 150px;
}
